<div class="main-nav">
  <div class="main-nav-inner">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">STUFF</a></li>
      <li><a href="#">HELLO</a></li>
      <li><a href="#">SUP</a></li>
    </ul>

    <!-- SLICK NAV -->
    <ul id="menu">
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">STUFF</a></li>
      <li><a href="#">HELLO</a></li>
      <li><a href="#">SUP</a></li>
     </ul>

  </div>
</div>
