/**********************************************************************************************************
SLICK NAV
**********************************************************************************************************/
 .slicknav_menu, #menu {
             display: none;
         }
         .slicknav_menutxt {
             display: none !important;
         }
         .slicknav_menu {
             background: rgba(0, 0, 0, .8) url(../assets/main-logo-small.png) 10px 8px no-repeat !important;
             background-size: 80px !important;
             padding: 15px 20px !important;
         }
         .slicknav_menu .slicknav_icon {
             margin: 0px !important;
         }
         .slicknav_btn {
             background-color: transparent !important; /*** HAMBURGER BACKGROUND COLOR ***/
             padding: 0.5em 0.625em 0.6em 0.625em !important;
         }
         .slicknav_btn:hover {
             cursor: pointer;
         }
         .slicknav_menu .slicknav_icon-bar {
             background-color: #FFF !important; /*** HAMBURGER BARS COLOR ***/
         }
         .slicknav_nav a {
             padding: 5px 0px 8px 0px !important;
             margin: 0px !important;
             text-decoration: none !important;
             color: white !important;
             font-size: 16px !important;
             text-align: center !important;
             background: none !important;
             font-weight: 400;
             letter-spacing: .1em;
             border-top: 1px solid #eee;
             line-height: 25px;
         }
         .slicknav_nav li:first-child {
             margin-top: 10px !important;
         }
         .slicknav_nav a:hover {
             border-radius: 0px !important;
             background: white !important;
             color: $grey-color !important;
         }
         .slicknav_menu {
             z-index: 9999;
             position: fixed;
             left: 0;
             right: 0;
             top: 0;
         }
        @media (max-width:640px) {
            .slicknav_menu {
                display: block;
            }
            .co-nav {
                display: none;
            }
            .main-nav {
                display: none;
            }
        }
/***************************************************************
MEDIA QUERIES/ VERSIONING
***************************************************************/
